@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-trail {
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  animation: trail-animation 1s forwards;
}

@keyframes trail-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(2);
    opacity: 0.7;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
